<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>hazisarashi</string>
	<key>CFBundleDisplayName</key>
	<string>tweetButtonToApplication</string>
	<key>CFBundleIdentifier</key>
	<string>com.hazisarashi.tweetbuttontoapplication</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery-1.4.4.js</string>
				<string>inject.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://*.twitter.com/widgets/tweet_button.html*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Webページ上の公式Tweetボタンを押した時に、各TwitterクライアントにTweet文を転送する。</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://hazisarashi.com/</string>
</dict>
</plist>
